[Unit]
Description=Provisioning OneShot Service
Requires=network.target default.target
After=default.target
Requires=network.target network-online.target local-fs.target

[Service]
Type=oneshot
ExecStartPre=-/usr/lib/apt/apt-helper wait-online
ExecStart=/base_provision.sh
RemainAfterExit=true
Restart=no
StandardOutput=append:/var/log/provisioning.log
StandardError=append:/var/log/provisioning.log

[Install]
WantedBy=default.target
